#v{
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    font-family: 'Courier New';
}
#by{
    position: absolute;
    top: 673px;
    left: 1250px;
    color:white;
    font-family: 'Courier New';
}